* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    outline-color: currentColor;
}

input[type=submit]:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}