body {
    height: 100vh;
}

button,
input[type=button]:hover,
input[type=submit]:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

label {
    user-select: none;
}