body {
    display: grid;
    height: 100vh;

    padding: 10px;
}

button[type=button],
button[type=submit],
input[type=button]:hover,
input[type=submit]:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}