:root {
    /* status colors */
    --color-status-open: #6BC4FF95;
    --color-status-in-progress: #FEC84D95;
    --color-status-resolved: #6BCB7795;
    --color-status-closed: #FF6B6B95;

    /* accent colors of status colors */
    --color-accent-status-open: #009FFD;
    --color-accent-status-in-progress: #E0A100;
    --color-accent-status-resolved: #2FAE4A;
    --color-accent-status-closed: #D92027;
}