@import url('../styles/base/account.variables.css');

body {
    background-color: var(--color01);
}

main {
    position: relative;

    display: grid;
    place-items: center;

    border-radius: 20px;
    background-color: var(--color02);
}

main #logo {
    position: absolute;

    background: url('../assets/images/logo-help-now.png') center center no-repeat;
    background-size: 100%;

    height: 312px;
    width: 761px;
}

main #login-section {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    padding: 50px;

    z-index: 1;
}

main #login-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #0000001f;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    z-index: -1;
}

main #login-section h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;

    color: #fff;
}

main #login-section form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main #login-section form input[type=text] {
    border: none;
    border-bottom: 1px solid;
    border-width: 4px;
    border-color: #ffffff75;

    background-color: #ffffff50;

    font-size: 1em;

    padding: 10px;

    color: #fff;
}

main #login-section form input[type=text]::placeholder {
    color: #ffffff75;
}

main #login-section form input[type=submit] {
    border-radius: 5px;
    padding: 5px;

    font-size: 1.3em;

    background-color: #fff;
    color: var(--color02);

    border: none;
}