@import url('../base/variables/register.variable.css');

body {
    background-color: var(--color01);
}

/* BLOCK */
.login {
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 20px;
    background-color: var(--color02);
}

/* ELEMENTS */
.login__logo {
    position: absolute;
    background: url('../../assets/images/logo-help-now.png') center center no-repeat;
    background-size: 100%;
    opacity: .50;
    height: 312px;
    width: 761px;
}

.login__section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px;
    z-index: 1;
}

.login__section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: #0000001f;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: -1;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.login__input {
    border: none;
    border-bottom: 4px solid #ffffff75;
    background-color: #ffffff50;
    font-size: 1em;
    padding: 10px;
    color: #fff;
}

.login__input::placeholder {
    color: #ffffff75;
}

.login__submit {
    border-radius: 5px;
    padding: 5px;
    font-size: 1.3em;
    background-color: #fff;
    color: var(--color02);
    border: none;
}

.login__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login__link {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}