@import url('../base/vars.css');

/* BASE */
body {
    place-items: center;
    background-color: var(--color01);
}

/* BUTTONS */
button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;

    font-size: 1.2rem;
    cursor: pointer;

    transition: all 0.3s ease;
}

input:disabled,
textarea:disabled,
select:disabled,
button:disabled {
    background-color: #b0b0b0 !important;
    color: #7a7a7a !important;
    cursor: not-allowed !important;
}

/* Botão Start */
button#start {
    background-color: var(--color04);
    color: var(--color01);
}

button#start:active {
    background-color: var(--color05);
    color: var(--color02);
}

/* Botão Submit */
button#submit {
    background-color: #d1df4e;
    color: #948a00;
}

button#submit:active {
    background-color: #bdcc3b;
    color: #6b6407;
}

/* Botão Cancel */
button#cancel {
    background-color: #df4e4e;
    color: #940000;
}

button#cancel:active {
    background-color: #cc3b3b;
    color: #720000;
}

/* FORM */
form {
    flex-direction: column;
    gap: 15px;

    min-width: 50vw;
    max-width: 100vw;

    padding: 15px;

    background-color: #fff;
    border-radius: 10px;
}

form #title {
    text-align: center;
    margin-bottom: 5px;
}

form h1,
form h2 {
    font-family: var(--font-title);
}

form h1 {
    color: var(--color03);
}

form h2 {
    color: var(--color02);
}

/* CAMPOS DE DADOS */
form #data-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form #data-container p {
    display: flex;
    width: 100%;
}

form #data-container p * {
    width: 100%;
    border: 1px solid #33333350;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form #data-container label {
    border-width: 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    color: #222;
}

form #data-container input,
form #data-container select {
    border-width: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    text-align: center;
    color: #444;
}

/* TEXTAREA */
form #description-problem textarea {
    width: 100%;
    padding: 10px;

    font-size: 1rem;
    font-family: var(--font-text);

    border: 2px solid #33333350;
    border-radius: 10px;

    background-color: #33333325;
    color: #33333395;

    resize: none;
    box-sizing: border-box;
}

/* FOCUS STYLE */
form #data-container select:focus,
form #data-container input:focus,
form #description-problem textarea:focus {
    border-width: 2px;
}

/* STATUS */
#status {
    display: flex;
    justify-content: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #c48a1d;
}

#status-response {}

/* BOTÕES FINAIS */
#buttons {
    display: flex;
    gap: 10px;
    justify-content: center;

    width: 100%;
}