@import url('../base/variables/client.variable.css');
@import url('../base/globals/vars.global.css');

body {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 10px;
    background-color: var(--color04);
}

/* Sidebar */

.sidebar {
    position: relative;

    background-color: var(--color02);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
}

.sidebar__header {
    display: flex;

    flex-direction: column;

    gap: 20px;
}

.sidebar__header-logo-prefeitura {
    display: block;
    margin: auto;
}

.sidebar__header-title {
    color: var(--color09);
    font-family: var(--font-title-app);
    font-size: 2rem;

    text-align: center;
}

.sidebar__header-subtitle {
    color: var(--color07);
    font-family: var(--font-title-app);
    font-size: 1.5rem;

    text-align: center;
}

.sidebar__options {
    display: flex;
    flex-direction: column;
}

.sidebar__hr {
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    all: none;
    background-color: var(--color10);

    margin: 15px 0;
}

.sidebar__hr::after {
    content: '';

    position: absolute;

    height: 10px;
    width: 10px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) rotate(45deg);

    background-color: var(--color11);
}

.sidebar__option {
    padding: 4px 0;

    text-align: center;

    font-family: var(--font-text);

    color: var(--color11);
}

.sidebar .sidebar__link__saiba-mais {
    position: absolute;
    bottom: 10px;
    left: 50%;

    width: 100%;

    font-family: var(--font-text);

    transform: translateX(-50%);

    color: var(--color17);
}

/* Client Layout */

.client {
    display: grid;

    min-height: 100%;

    gap: 10px;
}

.client__header {
    background-color: var(--color02);

    border-radius: 10px;

    padding: 10px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.client__greeting {
    font-family: var(--font-text);
    font-size: 1.5em;

    color: var(--color04);

    text-align: end;
}

.client__header-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    flex-grow: 1;
}

.client__presentation {
    place-items: center left;

    margin: 30px 0;

    display: grid;
}

.client__presentation h1 {
    font-family: var(--font-title);
    color: var(--color05);
}

.client__presentation p {
    font-family: var(--font-text);
    color: var(--color04);

    text-align: justify;
}

.client__support-button {
    display: grid;
    place-items: center;
}

.client__support-button .support-button {
    border: none;
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 10px;

    background-color: var(--color03);
    color: var(--color01);

    font-size: 1.2em;

    border-radius: 10px;

    padding: 10px;

    transition: all 0.1s ease;
}

.client__support-button .support-button:active {
    background-color: var(--color04);
    color: var(--color02);
}

.client__support-button .support-button * {
    user-select: none;
}

.client__support-button .support-button__icon {
    font-size: 2em;
}

.client__tickets {
    background-color: var(--color02);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
}

/* Scrollbar personalizado */
.client__tickets::-webkit-scrollbar {
    width: 5px;
}

.client__tickets::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 10px;
}

.client__tickets::-webkit-scrollbar-thumb {
    background-color: var(--color03);
    /* Cor do scroll em si */
    border-radius: 10px;
}

/* Ticket Component */

.ticket {
    border-left: 5px solid var(--color05);

    background-color: var(--color03);
    display: flex;
    flex-direction: column;
    gap: 8px;

    border-radius: 5px;

    padding: 10px;
}

.ticket * {
    user-select: none;
}

.ticket .ticket__title {
    user-select: all;
}

.ticket__header {
    display: flex;
    align-items: baseline;
    gap: 12px;
}

.ticket__code {
    text-decoration: none;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;

    color: var(--color07);
}

.ticket__code:hover {
    text-decoration: underline;
}

.ticket__category {
    font-family: var(--font-title);
    font-weight: italic;

    color: var(--color08);
}

.ticket__title {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: var(--font-text);

    color: var(--color09);
}

.ticket__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket__info {
    font-family: var(--font-text);

    color: var(--color13);
}

.ticket__status {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 700;

    padding: 10px;
    border-radius: 5px;

    color: #ffff;
    border: 2px solid;
}

/* Status Colors */

.ticket__status--open {
    background-color: var(--color-status-open);
    color: var(--color-accent-status-open);
}

.ticket__status--resolved {
    background-color: var(--color-status-resolved);
    color: var(--color-accent-status-resolved);
}

.ticket__status--in-progress {
    background-color: var(--color-status-in-progress);
    color: var(--color-accent-status-in-progress);
}

.ticket__status--closed {
    background-color: var(--color-status-closed);
    color: var(--color-accent-status-closed);
}

.ticket__date {
    font-style: italic;
    font-size: 0.85em;
}

/* FUNDO COM BLUR */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
    z-index: 10;
}

/* Ativa o fundo */
.modal-overlay.show {
    opacity: 1;
    pointer-events: all;
}


/* MODAL CENTRAL */
.modal {
    position: relative;

    background: var(--color16);
    padding: 2rem;
    border-radius: 8px;
    max-width: 450px;
    width: 90%;

    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Quando o modal está visível */
.modal-overlay.show .modal {
    opacity: 1;
    transform: scale(1);
}


/* Título, descrição e estrutura do formulário */
.modal__title {
    text-align: center;
    color: var(--color14);
    font-family: var(--font-title);
}

.modal__description {
    margin-bottom: 1.5rem;
    color: var(--color04);
    text-align: center;
    font-family: var(--font-text);
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Inputs e campos */
.modal__label {
    font-family: var(--font-text-alternative);
    font-weight: 600;
    color: var(--color16);
}

.modal__select,
.modal__select:valid,
.modal__input,
.modal__textarea,
.modal__button--submit {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--color15);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color01);
    color: var(--color05);
}

.modal__select,
.modal__input::placeholder,
.modal__textarea::placeholder,
.modal__button--submit::placeholder {
    color: #7E93A7;
}

.modal__select:focus,
.modal__input:focus,
.modal__textarea:focus,
.modal__button--submit:focus {
    outline: 3px solid var(--color08);
}

.modal__select option {
    background-color: var(--color02);
    color: var(--color05);
}

.modal__select option[selected] {
    color: #a0c3e4;
    background-color: #6a8094;
}

.modal__textarea {
    resize: vertical;
}

.form-helper-text {
    font-family: var(--font-text);
    font-size: 0.875rem;
    color: #ffffff75;
    user-select: none;
    margin-top: 10px;
}


/* Ações do formulário */
.modal__button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.modal__button--submit {
    font-size: 1.5em;
    background-color: var(--color04);
    color: white;
    width: 100%;
}

.modal__button--submit:hover {
    background-color: var(--color05);
}

.modal__button--cancel {
    position: absolute;
    font-size: 1.1em;
    top: 0;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--color10);
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

/* Inputs lado a lado */
.form-group {
    border-radius: 10px;

    padding: 10px;
    border: 1px solid var(--color09);

    background-color: var(--color04);
}